<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/assets/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local File Sharing App</title>
    <style>
        table{
            margin-top: 15vh;
            
        }
    </style>
</head>
<body>
    <center><h1>Welcome to LFS</h1></center>
   <center>
    <p>
        <a href="/Upload">Upload page</a><br><br>
        <a href="/Download">Download page</a>
    </p>
   </center>
   <center>
    <p>
        <p>
        <form action="uploader" id="from-upload" method="post" enctype="multipart/form-data">
            <table>
                <tbody>
                    <tr>
                        <th></label><input
                            type="file" multiple class="form-control" name="filemultiple"
                            id="formFileMultiple"></th>
                        <th><button type="submit" id="uploadbtn" >Upload</button></th>
                    </tr>
                </tbody>
            </table>
        </form>
        </p>
       </p>
   </center>
</script>
</body>
</html>